<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <br><br><br>
    <section id="Services">
        <div class="project">
            <div class="container">
                <h1 class="sub-title">Mis <span>Servicios</span></h1>
                <div class="prj-list">
                    <div>
                        <i class='bx bx-code' style="color: #00eeff;"></i>
                        <h2>Desarrollo Web</h2>
                        <p>Creación de interfaces de usuario modernas, responsivas y optimizadas usando HTML, CSS, y JavaScript.</p>
                        
                    </div>
                    <div>
                        <i class='bx bx-cube' style="color: #00eeff;"></i>
                        <h2>Optimización de Rendimiento Web</h2>
                        <p>Mejoras en la velocidad y rendimiento de sitios web, optimizando el tiempo de carga y la eficiencia.</p>
                        
                    </div>
                    <div>
                        <i class='bx bxl-android' style="color: #00eeff;"></i>
                        <h2>Integración de Herramientas de Control de Versiones (Git)</h2>
                        <p>Uso de plataformas como GitHub para la gestión y despliegue de código.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts" id="Contact">
        <div class="contact-text">
            <h2>Contacta<span>Me</span></h2>
            <h4>Trabajemos juntos</h4>
            <div class="contact-list">
                <li><i class='bx bxs-send'></i>jickzho@gmail.com</li>
                <li><i class="bx bxs-phone-call" ></i>+51 959 766 275</li>
            </div>
            <div class="contact-icons">
                <a href="https://github.com/vsmidhun21" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="https://www.youtube.com/@Unlucky_Coder21"><i class='bx bxl-youtube'></i></a>
                <a href="https://instagram.com/midhun_021?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/midhun-v-s" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
        
    </section>
    <%- include('partials/footer') %>
    <%- include('partials/bot') %>
</body>
</html>