<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <br><br>
    <section id="Skills">
        <h1 class="subtitle">Mis <span>Habilidades</span></h1>
        <div class="sec">
            <div class="container1">
                <h1 class="heading1">Habilidades Tecnicas</h1>
                <div class="Technical-bars">

                    <div class="bar"><i class='bx bxl-html5' style="color: #c9332e;"></i>
                        <div class="info">
                            <span>HTML <span class="addhtml"></span></span>
                        </div>
                        <div class="progress-line html">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar"><i class='bx bxl-css3' style="color: #147bbc;"></i>
                        <div class="info">
                            <span>CSS <span class="addcss"></span></span>
                        </div>
                        <div class="progress-line css">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar"><i class='bx bxl-python' style="color: #b0bc1e;"></i>
                        <div class="info">
                            <span>Python <span class="addpy"></span></span>
                        </div>
                        <div class="progress-line python">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <span>JavaScript <span class="addjava"></span></span>
                        </div>
                        <div class="progress-line java">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <span>SQL <span class="addc"></span></span>
                        </div>
                        <div class="progress-line cpls">
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container2">
                <h1 class="heading1">Habilidades Profesionales</h1>
                <div class="radial-bars">
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">60%</div>
                        <div class="text">Resolver Problemas</div>
                    </div>

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-2" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">70%</div>
                        <div class="text">Creatividad</div>
                    </div>

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-3" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">80%</div>
                        <div class="text">Comunicacion</div>
                    </div>

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-4" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">90%</div>
                        <div class="text">Trabajo en equipo</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>
    <%- include('partials/bot') %>
</body>
</html>