<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>

  
            
        <%- include('partials/navigation') %>
  


    <section class="home" id="Home">
        <div class="home-content">
            
            <h3>Holaa, yo soy</h3>
            <h1>Jino Marquez</h1>
            <h4 style="--i:6">Estudiante de Ingenieria informatica<br>
                apasionado en <span class="text"></span></h4>
            
            <div class="img">
                 <img src="img/fotopng.PNG" class="responsive">
            </div>

            <div class="home-sci">
                <a href="https://www.linkedin.com/in/jino-marquez-leandro-ba8150348/"style="--i:7" target="_blank"><i class='bx bxl-linkedin'></i></a>
                <a href="https://www.instagram.com/jino_marquez/"style="--i:8" target="_blank"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.youtube.com/"style="--i:9" target="_blank"><i class='bx bxl-youtube'></i></a>
                <a href="https://github.com/JinoMarquezz"style="--i:10" target="_blank"><i class='bx bxl-github'></i></a>
            </div>
            <a href="https://drive.google.com/file/d/1g2EBofdAe6FU6Z9g-Sow0RxWJxRdbllg/view?usp=sharing" style="--i:11" class="btn-box" target="_blank">Descargar CV</a>
        </div>
    </section>


    <section>
        <div class="about" id="About">
            <div class="about-img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d244.7066924101479!2d-77.59406225799408!3d-11.090475843597964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1738257975907!5m2!1ses-419!2spe" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="abt-res"></iframe>
              
            </div>
            <div class="about-text">
                <h2>Sobre <span>Mi</span></h2>
                <p>Soy un estudiante de Ingeniería Informática enfocado en el desarrollo web, especialmente en el área de front-end. 
                    Tengo un sólido dominio de tecnologías como JavaScript, Python, HTML, CSS, Git y SQL. A lo largo de mi carrera, 
                    he trabajado en varios proyectos personales que me han permitido aplicar mis conocimientos y mejorar mis habilidades.
                     Me apasiona crear interfaces intuitivas y funcionales, y siempre estoy en la búsqueda de nuevos retos para seguir 
                     creciendo como desarrollador.<br>
                    <br>
                    <a href="https://drive.google.com/file/d/1g2EBofdAe6FU6Z9g-Sow0RxWJxRdbllg/view?usp=sharing" style="--i:11" class="abtbtn-box" target="_blank">Descargar Resumen</a>
                </p>
            </div>
        </div>
    </section>

    
    <section id="Skills">
        <h1 class="subtitle">Mis <span>Habilidades</span></h1>
        <div class="sec">
            <div class="container1">
                <h1 class="heading1">Habilidades Tecnicas</h1>
                <div class="Technical-bars">

                    <div class="bar"><i class='bx bxl-html5' style="color: #c9332e;"></i>
                        <div class="info">
                            <span>HTML <span class="addhtml"></span></span>
                        </div>
                        <div class="progress-line html">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar"><i class='bx bxl-css3' style="color: #147bbc;"></i>
                        <div class="info">
                            <span>CSS <span class="addcss"></span></span>
                        </div>
                        <div class="progress-line css">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar"><i class='bx bxl-python' style="color: #b0bc1e;"></i>
                        <div class="info">
                            <span>Python <span class="addpy"></span></span>
                        </div>
                        <div class="progress-line python">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <span>JavaScript <span class="addjava"></span></span>
                        </div>
                        <div class="progress-line java">
                            <span></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <span>SQL <span class="addc"></span></span>
                        </div>
                        <div class="progress-line cpls">
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container2">
                <h1 class="heading1">Habilidades Profesionales</h1>
                <div class="radial-bars">
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">60%</div>
                        <div class="text">Resolver Problemas</div>
                    </div>

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-2" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">70%</div>
                        <div class="text">Creatividad</div>
                    </div>

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-3" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">80%</div>
                        <div class="text">Comunicacion</div>
                    </div>

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="80" r="80"></circle>
                            <circle class="path path-4" cx="100" cy="80" r="80"></circle>
                        </svg>
                        <div class="percentage">90%</div>
                        <div class="text">Trabajo en equipo</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Projects">
        <div id="portfolio" class="services">
            <div class="main-text" id="serv">
                <h2>My <span>Proyectos</span></h2>
                <div class="serv-container">
                    <div class="row">
                        <img src="./img/DA.png">
                        <div class="layer">
                            <h5>Landing Peruanito</h5>
                            <p>Creacion de una landing para un Resturante "El Peruanito" de comida criolla. Trabajo realizado en equipo.</p>

                            <a href="#"><i class='bx bxs-face-mask' style="color: aliceblue;"></i></a>

                        </div>
                    </div>

                    <div class="row">
                        <img src="./img/DA.png">
                        <div class="layer">
                            <h5>Pag Web Riazer</h5>
                            <p>Creacion de una pagina web con Base de datos, implementado para un trabajo de la Universidad</p>

                            <a href="#"><i class='bx bxs-low-vision' style="color: aliceblue;"></i></a>
                            
                        </div>
                    </div>

                    <div class="row">
                        <img src="./img/DA.png">
                        <div class="layer">
                            <h5>Landing Codemarq</h5>
                            <p>Creacion de una Landing para una tienda online de la empresa "Codemarq", aun en desarrollo.</p>

                            <a href="#"><i class='bx bx-desktop' style="color: aliceblue;"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Services">
        <div class="project">
            <div class="container">
                <h1 class="sub-title">Mis <span>Servicios</span></h1>
                <div class="prj-list">
                    <div>
                        <i class='bx bx-code' style="color: #00eeff;"></i>
                        <h2>Desarrollo Web</h2>
                        <p>Creación de interfaces de usuario modernas, responsivas y optimizadas usando HTML, CSS, y JavaScript.</p>
                        
                    </div>
                    <div>
                        <i class='bx bx-cube' style="color: #00eeff;"></i>
                        <h2>Optimización de Rendimiento Web</h2>
                        <p>Mejoras en la velocidad y rendimiento de sitios web, optimizando el tiempo de carga y la eficiencia.</p>
                        
                    </div>
                    <div>
                        <i class='bx bxl-android' style="color: #00eeff;"></i>
                        <h2>Integración de Herramientas de Control de Versiones (Git)</h2>
                        <p>Uso de plataformas como GitHub para la gestión y despliegue de código.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="contacts" id="Contact">
        <div class="contact-text">
            <h2>Contacta<span>Me</span></h2>
            <h4>Trabajemos juntos</h4>
            <div class="contact-list">
                <li><i class='bx bxs-send'></i>jickzho@gmail.com</li>
                <li><i class="bx bxs-phone-call" ></i>+51 959 766 275</li>
            </div>
            <div class="contact-icons">
                <a href="https://github.com/JinoMarquezz" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="https://www.youtube.com"><i class='bx bxl-youtube'></i></a>
                <a href="https://www.instagram.com/jino_marquez/" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/jino-marquez-leandro-ba8150348/" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
        
    </section>
    
    <%- include('partials/footer') %>
    <a href="#Home" class="top"><i class='bx bx-up-arrow-alt' ></i></a>

    <script>

var typed = new Typed(".text", {
    strings: ["Programar" , "Desarrollo Web" , "Front-End"],
    typeSpeed:100,
    backSpeed:100,
    backDelay:1000,
    loop:true
});


const toTop = document.querySelector(".top");
window.addEventListener("scroll",() =>{
    if (window.pageYOffset > 100){
        toTop.classList.add("active");
    }
    else{
        toTop.classList.remove("active");
    }
})
    </script>
    <%- include('partials/bot') %>
</body> 
    
</html>